@use '../abstracts/' as *;

.footer {
  background-color: $dark-green;
  padding-inline: $mobile-padding-inline;
  padding-block: rem(66);
  text-align: center;
  color: $white;
  font-size: rem(15);
  line-height: rem(25);

  &__menu {
    display: flex;
    gap: rem(20);
    justify-content: center;
    padding-block: rem(24);
  }

  &__link {
    color: $white;
    font-weight: 600;

    &:hover {
      color: $light-coral;
    }
  }

  &__social-media {
    display: flex;
    justify-content: center;
    gap: rem(20);
    padding-block: rem(40) rem(16);

    i {
      font-size: rem(24);

      &:hover {
        cursor: pointer;
        color: $light-coral;
      }
    }
  }
}

@media screen and (min-width: rem(700)) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-inline: $tablet-padding-inline;
    text-align: left;

    &__logo {
      grid-column: 1/2;
    }

    &__menu {
      grid-column: 1/2;
      text-align: left;
      padding-block: 0;
      justify-self: start;
      align-self: start;
      padding-block-start: rem(20);
    }

    &__social-media {
      grid-column: 1/2;
      grid-row: 3/4;
      padding-block: 0;
      justify-self: start;
      align-self: center;
    }

    &__copyright {
      grid-column: 2/3;
      grid-row: 3/4;
      text-align: right;
      padding-block-start: rem(20);
      align-self: start;
    }

    &__address {
      grid-column: 2/3;
      grid-row: 1/3;
      text-align: right;
    }
  }
}

@media screen and (min-width: rem(1024)) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &__logo {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: start;
    }

    &__menu {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &__social-media {
      grid-column: 3/4;
      grid-row: 1/2;
      justify-self: end;
    }

    &__copyright {
      grid-column: 3/4;
      grid-row: 2/3;
    }

    &__address {
      grid-column: 2/3;
      grid-row: 1/3;
      text-align: left;
      margin-left: rem(-100);
    }
  }
}
