@use '../abstracts/' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: $desktop-padding-inline;
  padding-block: rem(75);

  &__logo {
    margin-right: rem(50);
  }

  &__navigation {
    // background-color: magenta;
    width: 100%;
  }

  &__toggle-menu {
    display: none;
  }

  &__menu {
    display: flex;
    gap: rem(40);

    li:has(.header__contact) {
      margin-left: auto;
    }
  }

  &__link {
    color: $white;
    font-size: rem(18);
    line-height: rem(28);
    font-weight: 600;

    &:hover {
      color: $light-coral;
    }
  }

  &__contact {
    border: rem(2) solid $white;
    padding: rem(10) rem(20);
    border-radius: rem(20);
    transition: 0.2s;

    &:hover {
      background-color: $white;
      color: $dark-green;
    }
  }
}
@media screen and (min-width: rem(700)) {
  .header {
    padding-inline: $tablet-padding-inline;
  }
}

@media screen and (max-width: rem(699)) {
  .header {
    padding-inline: $mobile-padding-inline;

    &__toggle-menu {
      display: block;
      width: rem(50);
      aspect-ratio: 1;
      @include back-image('../../assets/icon-hamburger.svg', center);
      background-color: transparent;
      border: none;

      z-index: 1000;

      &:hover {
        cursor: pointer;
      }

      &.close {
        @include back-image('../../assets/icon-close.svg', center);
      }
    }

    &__navigation {
      // background-color: magenta;
      // width: 100%;
      // display: none;
      height: 0;
      position: fixed;
      top: 0;
      left: 30%;
      right: 0;
      width: 70vw;
      background-color: $midnight-green;
      background-color: #11101b;

      transition: 0.2s;
      overflow: hidden;
    }

    &__navigation.active {
      height: 100vh;
    }

    &__navigation.active ul {
      padding-top: $desktop-padding-inline;
      opacity: 1;
    }

    &__navigation ul {
      flex-direction: column;
      width: fit-content;
      margin: 0 auto;
      // gap: 20px;
      opacity: 0;
    }
  }
}
