@use '../../abstracts/' as *;

.directors {
  padding-inline: $mobile-padding-inline;
  padding-block: rem(90) rem(113);
  background-color: $deep-jungle-blue;
  background-image: url('../../../assets/bg-pattern-about-2-contact-1.svg'),
    url('../../../assets/bg-pattern-home-4-about-3.svg');
  background-repeat: no-repeat;
  background-position: top left rem(-100), bottom right;
  text-align: center;
  color: $white;

  &__title {
    font-size: rem(32);
    line-height: rem(32);
    padding-block-end: rem(50);
  }

  &__list {
    display: grid;
    gap: rem(60);
    justify-items: center;
  }

  &__card {
    background-color: $sacramento-state-green;
    padding-block: rem(32) rem(60);
    position: relative;
    width: rem(280);
    position: relative;

    img {
      width: rem(96);
      border-radius: 50%;
      border: rem(2) solid $rapture-blue;
    }

    .open-close {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: rem(56);
      aspect-ratio: 1;
      background-color: $light-coral;
      border-radius: 50%;

      bottom: rem(-28);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: rem(24);
      background-image: url('../../../assets/icon-plus.svg');
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1000;
    }

    .close-button {
      background-image: url('../../../assets/icon-close.svg');
      background-color: $rapture-blue;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__name {
    font-size: rem(18);
    line-height: rem(28);
    font-weight: 700;
    color: $rapture-blue;
  }

  &__job-title {
    font-size: rem(15);
    line-height: rem(25);
    font-weight: 500;
    font-style: italic;
  }

  &__comment {
    display: none;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: $dark-green;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: rem(15);
    line-height: rem(25);

    transform: translate(-50%, -50%);
    text-align: center;

    p {
      text-align: left;
      padding-block: rem(10);
    }
  }
  &__presentation {
    width: 100%;
  }

  .comment-display {
    opacity: 1;
  }

  &__social-media {
    display: flex;
    justify-content: center;
    gap: rem(20);

    i {
      font-size: rem(20);
      aspect-ratio: 1;
      display: block;
    }
  }
}

@media screen and (min-width: rem(700)) {
  .directors {
    padding-inline: $tablet-padding-inline;

    &__list {
      grid-template-columns: repeat(2, 1fr);

      justify-items: stretch;
    }

    &__card {
      width: 100%;
    }
  }
}
@media screen and (min-width: rem(1024)) {
  .directors {
    padding-inline: $desktop-padding-inline;

    &__title {
      font-size: rem(48);
      line-height: rem(48);
    }

    &__list {
      grid-template-columns: repeat(3, 1fr);
    }

    &__card {
      width: 100%;
    }
  }
}
