@use './functions' as *;

//Colors
$midnight-green: #014e56;
$light-coral: #f67e7e;
$white: #ffffff;
$rapture-blue: #79c8c7;
$police-blue: #2c6269;
$deep-jungle-blue: #004047;
$sacramento-state-green: #012f34;
$dark-green: #002529;

//Dimensions
$mobile-padding-inline: rem(20);
$tablet-padding-inline: rem(72);
$desktop-padding-inline: rem(165);
