@use '../../abstracts/' as *;

.hero {
  @include back-image(
    $url: '../../../assets/bg-pattern-home-2.svg',
    $position: bottom center
  );
  color: $white;
  background-color: $midnight-green;

  text-align: center;
  padding-inline: $mobile-padding-inline;
  padding-block: rem(80) rem(200);

  &__title {
    font-size: rem(40);
    line-height: rem(40);
    font-weight: 700;
    margin: 0 auto;
    max-width: rem(230);
    padding-block-end: rem(18);

    span {
      color: $light-coral;
    }
  }

  &__description {
    font-size: rem(15);
    line-height: rem(28);
    font-weight: 600;
  }
}

@media screen and (min-width: rem(700)) {
  .hero {
    padding-inline: $tablet-padding-inline;
    padding-block: rem(110) rem(260);

    &__title {
      font-size: rem(64);
      line-height: rem(56);
      max-width: rem(350);
      padding-block-end: rem(24);
    }
  }
}

@media screen and (min-width: rem(1024)) {
  .hero {
    padding-inline: $desktop-padding-inline;
    background-image: url('../../../assets/bg-pattern-home-1.svg'),
      url('../../../assets/bg-pattern-home-2.svg');
    background-repeat: no-repeat;
    background-position: top rem(144) left rem(-100),
      bottom right $desktop-padding-inline;
    padding-block: rem(144) rem(260);

    display: flex;

    &__title {
      font-size: rem(100);
      line-height: rem(100);
      min-width: 60%;
      text-align: left;
      padding-inline-end: clamp(rem(30), rem(50), rem(100));
    }

    &__topBorder {
      display: block;
      width: rem(53);
      height: rem(4);
      background-color: $rapture-blue;
    }

    &__description {
      font-size: rem(18);
      text-align: left;
      margin-block-start: rem(80);
    }
  }
}
