@use '../abstracts/' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: rem(1440);
  margin: 0 auto;
  background-color: $midnight-green;
  font-family: 'Livvic', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a,
input,
select,
input::placeholder {
  font-size: inherit;
  font-family: inherit;
}
