@use '../../abstracts/' as *;

.form {
  margin: 0 auto;

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: rem(24) rem(14);
    border: none;
    border-bottom: rem(1) solid $white;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
  }

  &__input::placeholder,
  &__textarea {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: rem(-0.12);
    font-weight: 700;
  }

  input {
    color: white;

    &:focus-visible {
      color: $light-coral;
      font-weight: 600;
    }
  }

  &__button {
    font-size: rem(28);
    font-weight: 600;
    line-height: rem(28);
    color: $deep-jungle-blue;
    padding: rem(15) rem(30);
    border-radius: rem(30);
    border: none;
    margin-top: rem(21);

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: rem(700)) {
  .form {
    width: rem(515);
  }
}
