@use '../../abstracts/' as *;

.form {
  // color: $white;
  &__input,
  &__textarea {
    display: block;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: rem(1) solid $white;
    padding: rem(24) rem(14);
  }

  &__input::placeholder,
  &__textarea {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: rem(-0.12);
    font-weight: 700;
  }
  // &__textarea {
  //   color: $white;
  // }
}
