@use '../../abstracts/' as *;

.contact-container {
  background-color: $midnight-green;
  padding-block: rem(90);
  padding-inline: $mobile-padding-inline;
  @include back-image(
    '../../../assets/bg-pattern-contact-2.svg',
    bottom rem(-100) right rem(-100)
  );
}

.contact {
  text-align: center;
  color: $white;

  &__title {
    font-size: rem(40);
    line-height: rem(40);
    padding-block-end: rem(16);
  }

  &__subtitle {
    font-size: rem(32);
    line-height: rem(48);
    color: $light-coral;
  }

  &__services {
    width: max-content;
    margin: 0 auto;
    padding-block: rem(40) rem(56);
  }

  &__service {
    display: flex;
    align-items: center;
    gap: rem(20);
    padding-block-end: rem(20);
  }

  &__description {
    font-size: rem(18);
    line-height: rem(28);
    font-weight: 700;
  }
}
